*       text=auto eol=lf          # All files will have LF line endings.
# *.js    linguist-generated=true   # ignore js
# *.css   linguist-generated=true
# *.bat   linguist-generated=true
# *.sh    linguist-generated=true